**/*.pem
**/*.tsbuildinfo
**/.env
**/.DS_Store
**/coverage.json

**/.cache/
**/.coverage/
**/.deepeval/
**/.next/
**/.react-email/
**/.tmp/
**/.turbo/
**/.vercel/
**/dist/
**/node_modules/
**/playwright/results/

/run.ts
/data/
