@import 'tailwindcss';

@source '../../../../packages/ui';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-montserrat), sans-serif;
  }

  html {
    font-family: var(--font-montserrat), sans-serif;
  }

  body {
    font-family: var(--font-montserrat), sans-serif;
  }

  p {
    font-family: var(--font-montserrat);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-montserrat);
    margin-bottom: 1rem;
  }

  h1 {
    font-size: var(--text-2xl);
  }

  @media (min-width: 640px) {
    h1 {
      font-size: var(--text-3xl);
    }
  }

  h2 {
    font-size: var(--text-xl);
  }

  @media (min-width: 640px) {
    h2 {
      font-size: var(--text-2xl);
    }
  }

  h3 {
    font-size: var(--text-lg);
  }

  @media (min-width: 640px) {
    h3 {
      font-size: var(--text-xl);
    }
  }

  h4 {
    font-size: var(--text-xs);
  }

  @media (min-width: 640px) {
    h4 {
      font-size: var(--text-sm);
    }
  }
}

@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@theme {
  --color-mint-100: #6b7076;
  --color-mint-200: #868f94;
  --color-mint-300: #a2aeb1;
  --color-mint-400: #bdcecd;
  --color-mint-500: #d8ebe6;
  --color-mint-600: #ddeee6;
  --color-mint-700: #e2f1e7;
  --color-mint-800: #e7f4e9;
  --color-mint-900: #ecf6ec;
  --color-mint-1000: #f3f9f2;
  --color-mint-1100: #f9fbf7;
}

body {
  background-color: var(--color-mint-400);
}
